*.o
*.exe

# ignore all saved files
*.*~
*~

# ignore all locks
.~lock*#

# ignore HTML files (exports)
*.html

# ignore javascript
reveal.js

# ignore .tex files and auxiliary files
*.tex
*.aux
*.fls
*.fdb_latexmk
*.out
*.toc
*.log

# ignore dvi
*.dvi

#ignore archive
#*#
*.*_archive